*.terraform
*/.terraform
*.terraform/
**/.terraform/*
**/.terraform/
*.tfstate
*.tfstate.*
*.log
*backendConf.hcl
**/backendConf.hcl*/
**/*.hcl/*
.terraform.lock.hcl
**/.terraform.lock.hcl/*
*.plan
*.plan.*
**/*.plan/*
*.vs*
**/.vs/*
*.exe
*.exe.*
**/*.exe/*
#*.tfvars